<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StartTime" value="20:06 PM "/>
    <add key="callDuration" value="2"/>
    <add key="CallType" value="1"/>
    <add key="FromMail" value="c0556777462@gmail.com"/>
    <add key="Password" value="207322868"/>
    <add key="Host" value="smtp.gmail.com"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="c0556777462@gmail.com">
        <network host="smtp.gmail.com" userName="c0556777462@gmail.com" password="207322868" enableSsl="true" port="587" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>